footer {
    margin-top: 6rem;
    padding: 2rem 0rem;
    background-color: #353353;
    color: #fff;

    div {
        margin-bottom: 1rem;

        a {
            color: #0079D3;
        }
    }
}