.red {
  color: red;
}
.green {
  color: green;
}

.bold {
  font-weight: 500;
}

.home {
  margin: 6rem .8rem 0rem;
  
  .hero {
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    -ms-grid-template-columns: repeat(1,1fr);
    
    // justify-content: center;
    
    .leftHandSide {
      h1 {
        font-size: 3rem;
        font-weight: 500;
        line-height: 100%;
      }
      
      p {
        font-size: 1.1rem;
        
        &:nth-child(2) {
          margin: 1rem 0 .1rem;
        }
        
      }
    }
    
    .rightHandSide {
      display: flex;
      justify-content: center;
      margin-top: 1rem;
      
      
      img {
        // max-width: 28rem;
        width: 100%;
        max-width: 25rem;
        display: none;
        // max-height: 23rem;
        // height: 100%;
      }
    }
  }
  
  .globalStats {
    margin-top: 1.5rem;

    h1 {
      margin-bottom: 0.4rem;
      font-size: 2rem;
      font-weight: 500;
    }
    .globalStatsGrid {
    //background-color: rgb(252, 255, 255);
      display: -ms-grid;
      display: grid;
      grid-template-columns: repeat(2,1fr);
      -ms-grid-template-columns: repeat(2,1fr);
      grid-gap: 10px;
      
      .grid-item {
        background-color: #fff;
        padding: 15px 15px 20px;
        border-radius: 7px;
        box-shadow: 1px 2px 3px 1px rgba(0,0,0,0.15);

        .stat-title, .stat-content {
          font-size: 15px;
          font-weight: 500;
        }
        .stat-title {
          font-size: 15px;
        }
        
        .stat-content {
          font-size: 24px;
          margin-top: 0.3rem;

        }
      }
    }
  }
  
  .home-heading-container {
    margin-top: 6rem;
    
    display: flex;
    align-items: center;
    justify-content: space-between;

    .home-title {
      word-wrap: break-word;
      font-size: 1.3rem;
    }
    
    .show-more a {
      font-size: 1.4rem;
      color: #24A4F0;
      font-weight: 500;
      
      &:hover {
        color: #1d89c4;
      }

    }
    
  }
  .crypto-table {
    margin-top: 0.5rem;
    padding: 0rem;
    
  }
  
}

// #5371E8

.crypto-table {
  margin-top: 6rem;
  padding: 0rem .8rem;

  display: flex;
  flex-direction: column;
  
  .crypto-table-inner-1 {
    // background-color: red;
    border-radius: 0.75rem;
    overflow-x: auto;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    margin-bottom: .75rem;

    .crypto-table-inner-2 {
      // padding-top: .5rem;
      vertical-align: middle;
      display: inline-block;
      min-width: 100%;

      .crypto-table-inner-3 {
        overflow: hidden;
        border: 1px solid rgba(229, 231, 235, 1);
        border-radius: 0.75rem;

        table {
          // position: relative;
          width: 100%;
          --tw-divide-y-reverse: 0;
          border-top-width: calc(1px * calc(1 - var(--tw-divide-y-reverse)));
          border-bottom-width: calc(1px * var(--tw-divide-y-reverse));
          border-color: rgba(229, 231, 235, 1);
          //padding: 0rem 1rem;

          thead {
            background-color: rgba(249, 250, 251, 1);

            tr {
              
              th {
                letter-spacing: 0.05em;
                text-transform: uppercase;
                color: rgba(107, 114, 128, 1);
                text-align: left;
                font-size: 0.75rem;
                line-height: 1rem;
                padding: 1.1rem 0.3rem;
                font-weight: 500;

                &:first-child {
                  padding-left: 1rem;
                }
                &:last-child {
                  padding-right: 1rem;
                }
              }
            }
          }
          
          tbody {
            background-color: rgba(255, 253, 253, 1);
            --tw-divide-y-reverse: 0;
            border-top-width: calc(1px * calc(1 - var(--tw-divide-y-reverse)));
            border-bottom-width: calc(1px * var(--tw-divide-y-reverse));
            border-color: rgba(229, 231, 235, 1);

            tr {
              td {
                font-size: 0.875rem;
                line-height: 1.25rem;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                padding: 1.1rem 0.3rem;
                font-weight: 400;

                .coin-name {
                  font-weight: 600;
                  margin: 0rem 0.4rem;
                }

                .coin-symbol {
                  color: rgba(229, 231, 235, 1);
                }

                &:first-child {
                  padding-left: 1rem;
                }
                &:last-child {
                  padding-right: 1rem;
                }
              }

              .not-found {
                text-align: center;
                padding: 1rem;
                color: rgba(107, 114, 128, 1);
              }
            }
          }
        }
      }
    }
  }
  
}

@media screen and (min-width: 767px) {
  .crypto-table {
    margin-top: 6rem;
    padding: 0rem 2rem;

    table {
      

      thead {

        tr th {
          padding: 1.1rem 0.7rem;
        }
      }
      
    }
  }
  .home {
    margin: 6rem 2rem 0rem 2rem;

    .hero {
      grid-template-columns: repeat(2,1fr);
      -ms-grid-template-columns: repeat(2,1fr);

      .leftHandSide {
        h1 {
          font-size: 3rem;
          font-weight: 500;
        }
      }

      .rightHandSide {
        margin-top: 0rem;

        img {
          max-width: 18rem;
          // width: 100%;
          display: block;
        }
      }
    }

    .globalStatsGrid {
      // grid-template-columns: repeat(3,1fr);
      // -ms-grid-template-columns: repeat(3,1fr);
      grid-template-columns: repeat(3,1fr) !important;
      -ms-grid-template-columns: repeat(3,1fr) !important;

      
    }
  }
}


@media screen and (min-width: 1200px) {
  .crypto-table {
    margin-top: 6rem;
    padding: 0rem 3rem;
  }
  .home {
    margin: 6rem 3rem 0rem 4rem;

    .hero {
      grid-template-columns: repeat(2,1fr);
      -ms-grid-template-columns: repeat(2,1fr);

      .leftHandSide {
        h1 {
          font-size: 4rem;
        }
      }

      .rightHandSide {

        img {
          // max-width: 25rem;
          // max-height: 23rem;
          // height: 100%;
          // width: 100%;
        }
      }
    }
  }

  .globalStats {
    .globalStatsGrid {
      grid-template-columns: repeat(4,1fr) !important;
      -ms-grid-template-columns: repeat(4,1fr) !important;
    }
  }
}