.red {
  color: #EA3943;
}
.green {
  color: #16C784;
}

.bold {
  font-weight: 500;
}

.home {
  margin: 5rem .8rem 0rem;
  
  .hero {
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    -ms-grid-template-columns: repeat(1,1fr);
    
    .leftHandSide {
      h1 {
        font-size: 3rem;
        font-weight: 500;
        line-height: 100%;
      }
      
      p {
        font-size: 1.1rem;
        margin: .7rem 0rem 0rem;
      }
    }
    
    .rightHandSide {
      display: flex;
      justify-content: center;
      margin-top: 1rem;
      
      img {
        display: none;
      }
    }
  }
  
  .globalStats {

    h1 {
      margin-bottom: 0.4rem;
      font-size: 2rem;
      font-weight: 500;
    }
    .globalStatsGrid {
      display: -ms-grid;
      display: grid;
      grid-template-columns: repeat(2,1fr);
      -ms-grid-template-columns: repeat(2,1fr);
      grid-gap: 10px;
      
      .grid-item {
        background-color: #fff;
        padding: 15px 15px 20px;
        border-radius: 7px;
        box-shadow: 1px 2px 3px 1px rgba(0,0,0,0.15);

        .stat-title, .stat-content {
          font-size: 15px;
          font-weight: 500;
        }

        .stat-title {
          font-size: 15px;
        }
        
        .stat-content {
          font-size: 24px;
          margin-top: 0.3rem;
        }
      }
    }
  }
  
  .home-heading-container {
    margin-top: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    .home-title {
      word-wrap: break-word;
      font-size: 1.3rem;
    }
    
    .show-more a {
      font-size: 1rem;
      color: #0079D3;
      font-weight: 500;
      
      &:hover {
        color: #1d89c4;
      }
    }
  }

  .crypto-list {
    margin-top: 0.5rem;
    padding: 0rem;
  }
}

.crypto-list {
  margin-top: 4.5rem;
  padding: 0rem .8rem;

  h1 {
    font-weight: 500;
    font-size: 1.9rem;
    border-bottom: 2px solid #7b7b91;
  }

  .search-crypto {
    position: relative;
    margin: .8rem 0rem;

    svg {
      position: absolute;
      left: 8px;
      top: 11px;
      padding-right: 3px;
      border-right: 2px solid rgb(197, 198, 199);
    }

    input {
      width: 50%;
      height: 3.1rem;
      border: 1px solid #9ea9b9;
      font-size: 1.125rem;
      padding: 0.35rem 0.5rem 0.35rem 2.35rem;
      line-height: 1.75rem;
      outline: none;
      border-radius: 0.75rem;
      box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    }
  }

  .crypto-table {
    display: flex;
    flex-direction: column;
    
    .crypto-table-inner-1 {
      border-radius: 0.75rem;
      overflow-x: auto;
      box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
      margin-bottom: .75rem;

      .crypto-table-inner-2 {
        vertical-align: middle;
        display: inline-block;
        min-width: 100%;

        .crypto-table-inner-3 {
          overflow: hidden;
          border: 1px solid rgba(229, 231, 235, 1);
          border-radius: 0.75rem;

          table {
            width: 100%;
            border-color: rgba(229, 231, 235, 1);

            thead {
              background-color: rgba(249, 250, 251, 1);

              tr {
                th {
                  letter-spacing: 0.05em;
                  text-transform: uppercase;
                  color: rgba(107, 114, 128, 1);
                  text-align: left;
                  font-size: 0.75rem;
                  line-height: 1rem;
                  padding: 1.1rem 0.3rem;
                  font-weight: 500;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  white-space: nowrap;

                  &:first-child {
                    padding-left: 1rem;
                  }

                  &:last-child {
                    padding-right: 1rem;
                  }
                }
              }
            }
            
            tbody {
              tr {
                td {
                  border-top: 1px solid rgba(229, 231, 235, 1);
                  font-size: 1rem;
                  line-height: 1.25rem;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  white-space: nowrap;
                  padding: 1rem 0.3rem;
                  font-weight: 400;
                  
                  .crypto-name {
                    display: flex;
                    align-items: center;
                    color: #41415A;
                    
                    .coin-name {
                      font-weight: 500;
                      font-size: 1rem;
                      margin: 0rem 0.4rem;
                    }
                    
                    .coin-symbol {
                      background-color: rgb(236, 237, 240);
                      border-radius: 5px;
                      padding: .1rem .2rem;
                    }
                  }
                  
                  
                  &:first-child {
                    padding-left: 1rem;
                  }
                  
                  &:last-child {
                    padding-right: 1rem;
                  }
                }
                
                .not-found {
                  padding: 1rem;
                  color: rgba(107, 114, 128, 1);
                }
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 450px) {
  .search-crypto {
    input {
      width: 100% !important;
    }
  }
}

@media screen and (min-width: 767px) {
  .crypto-list {
    padding: 0rem 2rem;

    .crypto-table {
      table {
        thead {
          tr th {
            padding: 1.1rem 0.7rem;
          }
        }
      }
    }
  }
  
  .home {
    margin: 6rem 2rem 0rem 2rem;

    .hero {
      grid-template-columns: repeat(2,1fr);
      -ms-grid-template-columns: repeat(2,1fr);

      .leftHandSide {
        h1 {
          font-size: 3rem;
          font-weight: 500;
        }
      }

      .rightHandSide {
        margin-top: 0rem;

        img {
          max-width: 18rem;
          display: block;
        }
      }
    }

    .globalStats {
      margin-top: 2.5rem;
      .globalStatsGrid {
        grid-template-columns: repeat(3,1fr);
        -ms-grid-template-columns: repeat(3,1fr);
      }
    }

    .home-heading-container {
      margin-top: 2.5rem;
    }
  }
}

@media only screen and (min-width: 991px) {
  .search-crypto {
    input {
      width: 33.33% !important;
    }
  }
}

@media screen and (min-width: 1200px) {
  .crypto-list {
    padding: 0rem 3rem;
  }

  .home {
    margin: 6rem 3rem 0rem 4rem;

    .hero {
      grid-template-columns: repeat(2,1fr);
      -ms-grid-template-columns: repeat(2,1fr);

      .leftHandSide {
        h1 {
          font-size: 4rem;
        }
      }
    }
  }
  
  .globalStats {
    .globalStatsGrid {
      grid-template-columns: repeat(4,1fr) !important;
      -ms-grid-template-columns: repeat(4,1fr) !important;
    }
  }
}