@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@import './navbar.scss';
@import './home.scss';

*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #41415A;
    background-color: #fdfdfd;
}
a {
    text-decoration: none;
}